.total-price-list{
    text-align: center;
}
.cart-title{
    text-align: center;
}
.cart-products-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart-empty-text{
    text-align: center;
}

.cart-buttons-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.button-empty-cart{
    background-color: red;
}

.button-buy-cart{
    background-color: blue;
}