.login-banner{
    display: flex;
    flex-direction:column ;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background-color: #f8f8f8;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    gap: 5px;
    padding: 10px;
}
.login-button{
    background-color: #0070ff;
    color: white;
    width: 80%;
    margin: 10px 0;
}
input{
    background-color: white;
    border: 1px solid #c5c5c5;
    width: 80%;
    border-radius: 5px;
    padding: 5px;
    color: black;
}
.logout-data{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    align-self: center;
}
.login-container{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.login-errors{
    color: red;
}